.chat-box
  .chat-header
    .chat-info
      = @group.title
    = link_to "Edit", edit_group_path(@group), class: "chat-header__btn"
    .chat-header__member
      メンバー:
      - @member.each do |member|
        = member.name
  .chat-contents-wrapper
    - @messages.each do |message|
      .chat-contents
        .chat-user
          .chat-user__name
            = message.user.name
          .chat-user__date
            %p
              = message.created_at.strftime("%Y/%m/%d %H:%M")
        .chat-contents__message
          - if message.content.present?
            %p
              = message.content
        - if message.image?
          = image_tag message.image, size: "300x300"
  .chat-form-wrapper
    = form_for [@group, @message], html: {class: "chat-form"} do |f|
      .chat-input
        = f.text_field :content, class: "chat-input__new-message", placeholder: "メッセージ"
        = f.label :image, class: "chat-input__btn-image" do
          = fa_icon 'image', right: true
          = f.file_field :image, class: "image-send", accept: ".jpg, .gif, .png"
      = f.submit "Send", class: "chat-form__btn"
  