- if request.path_info == new_group_path
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label 'グループ名を入力してください', class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :title, id: "chat_group_name", class: "chat-group-form__input", placeholder: "グループ名を入力してください"
- elsif request.path_info == edit_group_path
  .chat-group-form__field
    .chat-group-form__field--left
      = f.label 'グループ名', class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :title, id: "chat_group_name", class: "chat-group-form__input", value: "#{@group.title}"
.chat-group-form__field.clearfix
  / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときに使用します
.chat-group-form__field
  .chat-group-form__field--left
    = f.label "チャットメンバー", class: "chat-group-form__label"
  .chat-group-form__field--right
    = f.collection_check_boxes :user_ids, User.all, :id, :name, include_hidden: false
    / この部分はインクリメンタルサーチ(ユーザー追加の非同期化)のときにも使用します
.chat-group-form__field
  .chat-group-form__field--left
  .chat-group-form__field--right
    %input.chat-group-form__action-btn{"data-disable-with": "Save", name: "commit", type: "submit", value: "Save"}/
